@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}

.comment {
  font-family: "Poppins", sans-serif;
  margin-top: 0em;
  margin-bottom: 0em;
  color: #ffffff;
  font-size: 3em;
}

.bg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9)),
    url("./media/moviebg1.jpg");
  background-size: cover;
}

.bg2 {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 08, 0.5) 100%
    ),
    url("./media/moviebg2.jpg");
  background-size: cover;
}

.static {
  margin: 0em;
  padding-bottom: 0.7rem;
  background: rgb(194, 64, 64);
  transform: translateZ(-1px);
}

.section1 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #000;
}

.section2 {
  position: relative;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  position: absolute;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.scrollDown {
  font-size: 1.5em;
  position: fixed;
  bottom: 1em;
  letter-spacing: 00.3em;
  color: #ffffff;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);

  opacity: 1;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 1em;
  }
  50% {
    bottom: 1.3em;
  }
}

.imgTitle {
  position: fixed;
  text-align: center;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  line-height: 1.2em;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3), 2px 2px 2px rgba(206, 89, 55, 0);
  color: #eff0fc;
  animation: fadeIn 1.5s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* large tablet */
@media screen and (max-width: 991px) {
  .imgTitle {
    font-size: 3rem;
  }
  .scrollDown {
    font-size: 1rem;
  }
  .comment {
    font-size: 2em;
  }
}
/* medium tablet */
@media screen and (max-width: 770px) {
  .imgTitle {
    font-size: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .scrollDown {
    font-size: 0.7rem;
  }
}
/* phone */
@media screen and (max-width: 479px) {
  .imgTitle {
    font-size: 2rem;
  }
  .scrollDown {
    font-size: 0.7rem;
  }
}

.authorname {
  font-size: x-large;
}

.apptitle {
  text-shadow: 0 0 10px #ffffff, -17px -12px 3px rgba(43, 206, 104, 0.15);
  color: #ffffff;
  background-attachment: fixed;
}

.loginForm {
  background-color: rgb(194, 64, 64);
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  opacity: 0.65;
  transition: opacity 200ms ease-out;
}

.loginForm:hover {
  opacity: 1;
}

.formTitle {
  color: #eee;
  font-family: "Pacifico", cursive;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: left;
}

.formSub {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
}

.formContainer {
  height: 50px;
  position: relative;
  width: 100%;
}

.c1 {
  margin-top: 40px;
}

.c2 {
  margin-top: 30px;
}

.inputBox {
  background-color: #f76161;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  text-align: left;
}

.submitButton {
  background-color: rgb(153, 10, 22);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submitButton:active {
  background-color: rgb(87, 6, 13);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.label {
  background-color: rgb(194, 64, 64);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -10px;
  transform: translateY(0);
  width: 76px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

.signUp {
  text-decoration-line: none;
}

.signUp:link {
  color: rgb(238, 255, 0);
}

.signUp:visited {
  color: #a37615;
}

.signInJump {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #eee;
  background-color: rgb(153, 10, 22);
  text-decoration-line: none;
  padding: 5px;
}

.signInJump:active {
  background-color: rgb(87, 6, 13);
}
